name: ci

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref || github.head_ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x
      - name: Analysis
        uses: golangci/golangci-lint-action@v3
        with:
          args: -v
  docs_build:
    needs:
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x
      - name: Build
        run: make build_docs
  build:
    runs-on: ubuntu-latest
    needs:
      - docs_build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x
      - name: Build
        run: make build
  test:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.18'
      - name: Deps
        run: make test_deps
      - name: Run tests
        run: |
          make test
          sudo env PATH="$PATH" make test_root
      - name: Merge coverage
        run: |
          echo "mode: atomic" > coverage.out
          grep -v "mode: atomic" coverage.txt >> coverage.out
          grep -v "mode: atomic" coverage_root.txt >> coverage.out
      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.out
  docker_build_master:
    runs-on: ubuntu-latest
    needs:
      - test
    if: github.ref == 'refs/heads/main'
    env:
      DOCKER_REPO: ttl.sh/elemental-cli
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: cosign-installer
        uses: sigstore/cosign-installer@v2.5.1
      - name: Install qemu-tools
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-utils jq
      - name: Export tag
        id: export_tag
        run: |
          echo "Using tag $(git describe --tags `git rev-list --tags --max-count=1`  2>/dev/null || echo 'v0.0.1')"
          TAG=$(git describe --tags `git rev-list --tags --max-count=1` 2>/dev/null || echo "v0.0.1")
          echo "::set-output name=elemental_tag::$TAG"
      - name: Docker meta for master/PR
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.DOCKER_REPO }}
          tags: |
            type=sha,format=short,prefix=${{ steps.export_tag.outputs.elemental_tag }}-
            type=raw,value=latest
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Quay
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
      - name: Build image
        uses: docker/build-push-action@v3
        id: docker_build
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          load: true # loads it locally, so it can be used from docker client
          # cache into GitHub actions cache, nice
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: elemental
          build-args: |
            ELEMENTAL_VERSION=${{ steps.export_tag.outputs.elemental_tag }}
            ELEMENTAL_COMMIT=${{ github.sha }}
      - name: Test elemental image version
        run: docker run ${{ steps.docker_build.outputs.ImageID }} version --long
      - name: Test elemental image install with --force-efi
        run: |
          # create a 30Gb file
          qemu-img create -f raw disk-efi.img 30G
          # mount loop device and get the device
          LOOP=`sudo losetup -fP --show disk-efi.img`
          docker run -v /dev/:/dev/ --privileged ${{ steps.docker_build.outputs.ImageID }} install --force-efi --debug -d registry.opensuse.org/isv/rancher/elemental/teal53/15.4/rancher/elemental-node-image/5.3:latest $LOOP
          sudo losetup -D $LOOP
          rm disk-efi.img
      - name: Test elemental image install
        run: |
          # create a 30Gb file
          qemu-img create -f raw disk.img 30G
          # mount loop device and get the device
          LOOP=`sudo losetup -fP --show disk.img`
          docker run -v /dev/:/dev/ --privileged ${{ steps.docker_build.outputs.ImageID }} install --debug -d registry.opensuse.org/isv/rancher/elemental/teal53/15.4/rancher/elemental-node-image/5.3:latest $LOOP
          sudo losetup -D $LOOP
          rm disk.img
      - name: Push image  # should be a free build as everything has been cached and loaded
        uses: docker/build-push-action@v3
        if: ${{ github.event_name != 'pull_request' }}  # push on main merge
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          # cache into GitHub actions cache, nice
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: elemental
          build-args: |
            ELEMENTAL_VERSION=${{ steps.export_tag.outputs.elemental_tag }}
            ELEMENTAL_COMMIT=${{ github.sha }}
      - name: Sign image
        env:
          COSIGN_EXPERIMENTAL: 1
        run: |
          cosign sign -y ${{ env.DOCKER_REPO }}:latest
          
          cosign sign -y ${{ env.DOCKER_REPO }}:${{ steps.export_tag.outputs.elemental_tag }}-${GITHUB_SHA::7}
          
